<article id="list-products">
  {{#each listadeproductos}}
  <article class="container" id="list-products">
    <div class="card">
      <div >
        <img src="{{thumbnail}}" width="120" />
      </div>
      <div class="contentBx">
        <h2>{{title}}</h2>
        <div class="size">
          <h3>{{description}}</h3> 
          <span></span>
          <span></span>
        </div>
        <div class="color">
          <h3>{{price}}</h3>
          <span></span>
          <span></span>
          <span></span>
        </div>
        <a href="#">compre ahora</a>
      </div>
    </div>
  </article>
  {{/each}}
</article>